.page {
    margin-left: 40;
    word-wrap: break-word;
    hyphens: auto;
    white-space: pre-wrap;
}

#sidebar {
    width: 200px;
    position: fixed;
    padding-top: 20px
}

#content {
    margin-left: 200px;
    padding: 40px 10px;
}

h2.page_title {
    margin-block-start: 0px;
    margin-block-end: 0px;
}

pre {
    overflow: auto;
}